@charset "UTF-8";


/*
pra usar as fontes
font-family: 'Kalnia', serif;
font-family: 'Work Sans', sans-serif;
*/
:root{
    --cor1: #FFF;
    --cor2: #E7E7E7;
    --cor3: #623E2A;
    --cor4: #91713C;

    --fonte1: 'Kalnia', serif;
    --fonte2: 'Work Sans', sans-serif;
   
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;

}
/* ============================= top =======================================*/
#sec-top{
    width: 100vw;
    height: 100vh;
    margin: 0;

    background-image: url(imgs/principal.jpg);
    background-repeat: no-repeat;
    background-size: auto 2000px;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#sec-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color:rgba(96, 61, 41, 0.5); /* Cor e opacidade do overlay */
}


.top{
    margin: 0 auto;
    text-align: center;

    font-family: var(--fonte1);
    color: var(--cor2);

    z-index: 1;
}

   #top-subtitulo{font-size: 30px;font-weight: 400;}
   #top-titulo{font-size: 110px;font-weight: 300;}
   #top-titulo2{font-size: 30px;font-weight: 400;}


   #top-btn {
    
    background-color: var(--cor1); 
    color: var(--cor3); 
    margin-top: 10%;
    padding: 8px 30px; 
    border: none; 
    cursor: pointer;
    z-index: 2; 
    
    font-size: 25px;
    font-weight: 500px;
}

#top-btn:hover {
    background-color: var(--cor3);
    transition: background-color 0.7s ease;
    color: var(--cor1);
}

/* =============================  =======================================*/
#sec-mod1{
    display: grid;
    grid-template-areas: 'titulo  img '
                         'txt img';
    
    background-color: var(--cor2);
    padding: 50px 100px;
  
    height: 100%;
    width: 100vw;

    position: relative; 
    z-index: 2;

  }

  #mod1-titulo,
  #mod1-txt,
  #mod1-img {
      position: relative; 
  }  
  
  #mod1-titulo{
    grid-area: titulo;
  
    margin: 0 auto;
    text-align: justify;
    padding: 80px 80px 10px 10px;

    font-family: var(--fonte1);
    color: var(--cor3);
    font-size: 50px;
    font-weight: 400;


  }

  #mod1-txt{
    grid-area: txt;
  
    margin: 0 auto;
    text-align: justify;
    padding: 0px 80px 100px 10px;

    font-family: var(--fonte2);
    color: var(--cor3);
    font-size: 24px;
    font-weight: 300;


  }

  #mod1-img{
    grid-area: img;
    max-width: 600px;
    max-height: 90vh;
    margin: 0 auto;
    padding: 0px 150px 0px 50px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


    
  }
 


/* =============================  =======================================*/

#sec-mod2{
    display: grid;
    grid-template-areas: 'titulo  titulo titulo '
                         'room1 room2 room3'
                         'room1 room2 room3';
    
    background-color: var(--cor1);
    padding: 10px;
    padding-bottom: 50px;
  
    height: 100%;
    width: 100vw;

    position: relative; 
    z-index: 2;

    place-items: center;

  }

  .mod2-carrossel{
    max-width: 350px;
    max-height: 250px;
    padding: 10px;
    margin-top: 0px;


  }



  #mod2-room1{
    grid-area: room1;
    padding-left: 100px;
    padding-bottom: 100px;
  }

  #mod2-room2{
    grid-area: room2;
    padding-bottom: 100px;
  }

  #mod2-room3{
    grid-area: room3;
    padding-right: 100px;
    padding-bottom: 100px;
  }


  #mod2-img{
    width: 350px; 
    height: 250px; 
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden; 


}
#mod2-img  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s ease;
}
#mod2-img:hover img {
    transform: scale(1.2);
    transform-origin: center;
}
#mod2-img:hover {
    overflow: hidden; 
}


  .mod2-div{
    margin-top: 10px;

    padding: 5px;

    max-width: 100%;
    max-height: 100%;
    border: 2px solid var(--cor3);
    text-align: center;
    color: var(--cor3);
    cursor: pointer;
   
  }

  .mod2-div:hover {
    background-color: var(--cor3);
    transition: background-color 0.7s ease;
    color: var(--cor1);
}

 #mod2-titulo{
    grid-area: titulo;
    text-align: center; 
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    font-family: var(--fonte1);
    color: var(--cor3);
    font-size: 80px;
    font-weight: 500;
}

#mod2-txt1 {
    margin-bottom: 5px;
    padding-top: 15px;
}
#mod2-txt2 {
    font-weight: bold; 
    margin: 10px 0;
}
#mod2-txt3 {
    margin-top: 5px; 
    padding-bottom: 15px;
}




/* =============================  =======================================*/

