@charset "UTF-8";


/*
pra usar as fontes
font-family: 'Kalnia', serif;
font-family: 'Work Sans', sans-serif;
*/
:root{
    --cor1: #FFF;
    --cor2: #E7E7E7;
    --cor3: #623E2A;
    --cor4: #91713C;

    --fonte1: 'Kalnia', serif;
    --fonte2: 'Work Sans', sans-serif;
   
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;

}
/* ============================= top =======================================*/
#top{
    width: 100vw;
    height: 100vh;
    margin: 0;

    background-image: url(imgs/principal.jpg);
    background-repeat: no-repeat;
    background-size: auto 2000px;
    background-position: center;
    background-size: cover;

}



/* =============================  =======================================*/